/config/activetime/storage/
/config/magibridge/
*.db
/config/nucleus/
prism.conf
/.mixin.out/
/armourers_workshop/
/bin/
/cache/
/coremods/
/discordsuite/
/fonts/
/journeymap/
/local/
/logs/
/mods/
/oxygen/
/patchouli_books/
/resourcepacks/
/resources/
/saves/
/shaderpacks/
/signpic/
/structurize/
/tv-cache/
/WCalarms/
/woot/
concheckrmd
.ReAuth.cfg
*.log
knownkeys.txt
*.dll
options.txt
optionsof.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
/backups
banned-ips.json
banned-players.json
/crash-reports/
/llibrary/
eula.txt
*.bat
mcss_server_config.json
/nucleus/
/world/
whitelist.json
server.properties
ops.json
*.zip
*.jar
*.jarOLD