/config/activetime/storage/
/config/magibridge/
/config/nucleus/
/config/oxygen/data
/config/multimob/modinformation/
/config/jei/worldsettings.cfg
/config/AppliedEnergistics2/CustomRecipes.cfg
/config/AppliedEnergistics2/items.csv
/config/AppliedEnergistics2/VersionChecker.cfg
/config/cd4017be/compiled.dat
/config/splash.properties
/.mixin.out/
/armourers_workshop/
/bin/
/cache/
/coremods/
/discordsuite/
/fonts/
/journeymap/
/local/
/logs/
/mods/
/oxygen/
/patchouli_books/
/resourcepacks/
/resources/
/saves/
/shaderpacks/
/signpic/
/structurize/
/tv-cache/
/WCalarms/
/woot/
/backups/
/crash-reports/
/nucleus/
/world/
/llibrary/
concheckrmd
.ReAuth.cfg
*.db
*.log
*.dll
*.bat
*.zip
*.jar
*.jarOLD
knownkeys.txt
options.txt
optionsof.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
prism.conf
banned-ips.json
banned-players.json
eula.txt
mcss_server_config.json
whitelist.json
server.properties
ops.json
CustomRecipes.cfg
*.bak
scripts/.zsrc
