# Configuration file

balancing {
    # Number of upgrades an empty capsule can get to improve capacity. If <= 0, the capsule won't be able to upgrade.
    I:capsuleUpgradesLimit=10

    # Size of the capture cube side for a Diamond Capsule. Must be an Odd Number (or it will be rounded down with error message).
    # 0 to disable.
    # Default: 7
    S:diamondCapsuleSize=7

    # Size of the capture cube side for an Emerald Capsule. Must be an Odd Number (or it will be rounded down with error message).
    # 0 to disable.
    # Default: 11
    S:emeraldCapsuleSize=11

    # List of block ids that will never be captured by a non overpowered capsule. While capturing, the blocks will stay in place.
    #  Ex: minecraft:mob_spawner
    S:excludedBlocks <
        minecraft:mob_spawner
        minecraft:end_portal
        minecraft:end_portal_frame
        minecraft:air
        minecraft:structure_void
        minecraft:bedrock
        ic2:
        refinedstorage:
        superfactorymanager:
        gregtech:machine
        gtadditions:
        bloodmagic:alchemy_table
        mekanism:machineblock
        mekanism:boundingblock
     >

    # Size of the capture cube side for a Gold Capsule. Must be an Odd Number (or it will be rounded down with error message).
    # 0 to disable.
    # Default: 5
    S:goldCapsuleSize=5

    # Size of the capture cube side for an Iron Capsule. Must be an Odd Number (or it will be rounded down with error message).
    # 0 to disable.
    # Default: 3
    S:ironCapsuleSize=3

    # Size of the capture cube side for an Obsidian Capsule. Must be an Odd Number (or it will be rounded down with error message).
    # 0 to disable.
    # Default: 9
    S:obsidianCapsuleSize=9

    # Size of the capture cube side for a Overpowered Capsule. Must be an Odd Number (or it will be rounded down with error message).
    # 0 to disable.
    # Default: 1
    S:opCapsuleSize=1

    # List of block ids that will never be captured even with an overpowered capsule. While capturing, the blocks will stay in place.
    # Mod prefix usually indicate an incompatibility, remove at your own risk. See https://github.com/Lythom/capsule/wiki/Known-incompatibilities. 
    #  Ex: minecraft:mob_spawner
    S:opExcludedBlocks <
        minecraft:air
        minecraft:structure_void
        minecraft:bedrock
        ic2:
        refinedstorage:
        superfactorymanager:
        gregtech:machine
        gtadditions:
        bloodmagic:alchemy_table
        mekanism:machineblock
        mekanism:boundingblock
     >

    # List of block ids that can be overriden while teleporting blocks.
    # Put there blocks that the player don't care about (grass, leaves) so they don't prevent the capsule from deploying.
    S:overridableBlocks <
        minecraft:air
        minecraft:water
        minecraft:leaves
        minecraft:leaves2
        minecraft:tallgrass
        minecraft:red_flower
        minecraft:yellow_flower
        minecraft:snow_layer
        minecraft:brown_mushroom
        minecraft:red_mushroom
        minecraft:double_plant
        forestry:sapling_ge
        forestry:leaves
        forestry:leaves.default.0
        forestry:leaves.default.1
        forestry:leaves.default.2
        forestry:leaves.default.3
        forestry:leaves.default.4
        forestry:leaves.default.5
        forestry:leaves.default.6
        forestry:leaves.default.7
        forestry:leaves.default.8
        forestry:leaves.default.fruit.0
        forestry:leaves.default.fruit.1
        forestry:leaves.decorative.0
        forestry:leaves.decorative.1
        forestry:leaves.decorative.2
        forestry:mushroom
        forestry:farm_mushroom
        extratrees:leaves.default.0
        extratrees:leaves.default.1
        extratrees:leaves.default.2
        extratrees:leaves.default.3
        extratrees:leaves.default.4
        extratrees:leaves.default.5
        extratrees:leaves.default.6
        extratrees:leaves.default.7
        extratrees:leaves.default.8
        extratrees:leaves.default.9
        extratrees:leaves.default.10
        extratrees:leaves.default.11
        extratrees:leaves.default.12
        extratrees:leaves.default.13
        extratrees:leaves.default.14
        extratrees:leaves.default.15
        extratrees:leaves.default.16
        extratrees:leaves.default.17
        extratrees:leaves.default.18
        extratrees:leaves.default.19
        extratrees:leaves.default.20
        extratrees:leaves.default.21
        extratrees:leaves.default.22
        extratrees:leaves.default.23
        extratrees:leaves.default.24
        extratrees:leaves.default.fruit.0
        extratrees:leaves.default.fruit.1
        extratrees:leaves.default.fruit.2
        extratrees:leaves.default.fruit.3
        extratrees:leaves.default.fruit.4
        extratrees:leaves.default.fruit.5
        extratrees:leaves.default.fruit.6
        extratrees:leaves.default.fruit.7
        extratrees:leaves.default.fruit.8
        extratrees:leaves.default.fruit.9
        extratrees:leaves.default.fruit.10
        extratrees:leaves.default.fruit.11
        extratrees:leaves.default.fruit.12
        extratrees:leaves.default.fruit.13
        extratrees:leaves.default.fruit.14
        extratrees:leaves.decorative.0
        extratrees:leaves.decorative.1
        extratrees:leaves.decorative.2
        extratrees:leaves.decorative.3
        extratrees:leaves.decorative.4
        extratrees:leaves.decorative.5
        extratrees:leaves.decorative.6
        biomesoplenty:leaves_0
        biomesoplenty:leaves_1
        biomesoplenty:leaves_2
        biomesoplenty:leaves_3
        biomesoplenty:leaves_4
        biomesoplenty:leaves_5
        biomesoplenty:leaves_6
        biomesoplenty:sapling_0
        biomesoplenty:sapling_1
        biomesoplenty:sapling_2
        biomesoplenty:mushroom
        biomesoplenty:willow_vine
        rustic:leaves
        rustic:sapling
        rustic:grape_leaves
        rustic:sapling_apple
        rustic:leaves_apple
        rustic:deathstalk_mushroom
        rustic:mooncap_mushroom
        rustic:leaves0
        nuclearcraft:glowing_mushroom
        advancedrocketry:alienleaves
        advancedrocketry:aliensapling
        advancedrocketry:electricmushroom
        tconstruct:slime_leaves
        tconstruct:slime_sapling
        tconstruct:slime_vine_blue_end
        tconstruct:slime_vine_blue_mid
        tconstruct:slime_vine_blue
        tconstruct:slime_vine_purple_end
        tconstruct:slime_vine_purple_mid
        tconstruct:slime_vine_purple
        thaumcraft:sapling_greatwood
        thaumcraft:sapling_silverwood
        thaumcraft:leaves_greatwood
        thaumcraft:leaves_silverwood
        dynamictrees:sapling
        dynamictrees:leaves0
        dynamictrees:leaves1
        dynamictreesbop:leaves_flowering
        dynamictreesbop:leaves_palm
        dynamictreesbop:leaves0
        dynamictreesbop:leaves1
        dynamictreesbop:leaves2
        dynamictreesbop:leaves3
        dynamictreesbop:leaves4
        dynamictreesbop:leaves5
        dynamictreesbop:leaves6
        dynamictreesbop:leaves7
        dynamictreesphc:leaves0
        dynamictreestc:leaves_silverwood
        dynamictreestc:leaves0
        primal:sapling
        primal:leaves
        primal:nether_vine
        growthcraft_cellar:cork_sapling
        growthcraft_cellar:cork_leaves
        growthcraft_bamboo:bamboo_leaves
        growthcraft_apples:apple_leaves
        growthcraft_apples:apple_sapling
        growthcraft_grapes:native_grape_vine0
        growthcraft_grapes:native_grape_vine1
        growthcraft_grapes:native_grape_vine_leaves
        netherex:brown_elder_mushroom
        netherex:red_elder_mushroom
        netherex:brown_elder_mushroom_cap
        netherex:red_elder_mushroom_cap
        netherex:enoki_mushroom_cap
        netherex:elder_mushroom_stem
        netherex:enoki_mushroom_stem
        jurassicraft:psaronius_sapling
        jurassicraft:psaronius_leaves
        jurassicraft:phoenix_leaves
        jurassicraft:calamites_sapling
        jurassicraft:araucaria_leaves
        jurassicraft:paleo_bale_leaves
        jurassicraft:phoenix_sapling
        jurassicraft:ginkgo_leaves
        jurassicraft:calamites_leaves
        jurassicraft:ginkgo_sapling
        jurassicraft:araucaria_sapling
        chiselsandbits:chiseled_leaves
        harvestcraft:pamwhitemushroomcrop
        harvestcraft:date_sapling
        harvestcraft:papaya_sapling
        harvestcraft:cherry_sapling
        harvestcraft:fig_sapling
        harvestcraft:soursop_sapling
        harvestcraft:dragonfruit_sapling
        harvestcraft:rambutan_sapling
        harvestcraft:jackfruit_sapling
        harvestcraft:passionfruit_sapling
        harvestcraft:apple_sapling
        harvestcraft:lemon_sapling
        harvestcraft:pear_sapling
        harvestcraft:olive_sapling
        harvestcraft:spiderweb_sapling
        harvestcraft:grapefruit_sapling
        harvestcraft:pomegranate_sapling
        harvestcraft:cashew_sapling
        harvestcraft:vanillabean_sapling
        harvestcraft:starfruit_sapling
        harvestcraft:banana_sapling
        harvestcraft:plum_sapling
        harvestcraft:avocado_sapling
        harvestcraft:pecan_sapling
        harvestcraft:pistachio_sapling
        harvestcraft:hazelnut_sapling
        harvestcraft:lime_sapling
        harvestcraft:peppercorn_sapling
        harvestcraft:almond_sapling
        harvestcraft:gooseberry_sapling
        harvestcraft:peach_sapling
        harvestcraft:chestnut_sapling
        harvestcraft:pawpaw_sapling
        harvestcraft:coconut_sapling
        harvestcraft:mango_sapling
        harvestcraft:apricot_sapling
        harvestcraft:orange_sapling
        harvestcraft:walnut_sapling
        harvestcraft:lychee_sapling
        harvestcraft:persimmon_sapling
        harvestcraft:guava_sapling
        harvestcraft:breadfruit_sapling
        harvestcraft:nutmeg_sapling
        harvestcraft:durian_sapling
        harvestcraft:tamarind_sapling
        harvestcraft:cinnamon_sapling
        harvestcraft:maple_sapling
        harvestcraft:paperbark_sapling
     >

    # Rarity of the enchantmant. Possible values : COMMON, UNCOMMON, RARE, VERY_RARE. Default: RARE.
    S:recallEnchantRarity=RARE

    # Possible targets for the enchantment. By default : null.
    # Possible values are ALL, ARMOR, ARMOR_FEET, ARMOR_LEGS, ARMOR_TORSO, ARMOR_HEAD, WEAPON, DIGGER, FISHING_ROD, BREAKABLE, BOW, null.
    # If null or empty, Capsules will be the only items to be able to get this Enchantment.
    S:recallEnchantType=null

    # Size of the capture cube side for an Iron Capsule. Must be an Odd Number (or it will be rounded down with error message).
    # 0 to disable.
    # Default: 1
    S:woodCapsuleSize=1
}


loots {
    # If true, loot rewards will be pre-charged blueprint when possible (if the content contains no entity).
    # If false loot reward will always be one-use capsules.
    # Default value: true
    B:allowBlueprintReward=true

    # List of loot tables that will eventually reward a capsule.
    #  Example of valid loot tables : gameplay/fishing/treasure, chests/spawn_bonus_chest, entities/villager (killing a villager).
    # Also see https://minecraft.gamepedia.com/Loot_table#List_of_loot_tables.
    S:lootTablesList <
        minecraft:chests/abandoned_mineshaft
        minecraft:chests/desert_pyramid
        minecraft:chests/end_city_treasure
        minecraft:chests/igloo_chest
        minecraft:chests/jungle_temple
        minecraft:chests/simple_dungeon
        minecraft:chests/stronghold_corridor
        minecraft:chests/stronghold_crossing
        minecraft:chests/stronghold_library
        minecraft:chests/village_blacksmith
        minecraft:chests/woodland_mansion
     >

    # List of paths where the mod will look for structureBlock files. Each save structure have a chance to appear as a reward capsule in a dungeon chest.
    # To Lower the chance of getting a capsule at all, insert an empty folder here and configure its weight accordingly (more weigth on empty folder = less capsule chance per chest).
    S:lootTemplatesPaths <
        config/capsule/loot/common
        config/capsule/loot/uncommon
        config/capsule/loot/rare
     >

    # Each structure in this folder will auto-generate a blueprint recipe that player will be able to craft.
    # Remove/Add structure in the folder to disable/enable the recipe.
    # Default value: "config/capsule/prefabs"
    S:prefabsTemplatesPath=config/capsule/prefabs

    # Paths where the mod will look for structureBlock files when invoking command /capsule fromExistingRewards <structureName> [playerName].
    S:rewardTemplatesPath=config/capsule/rewards

    # Players can be given one or several starter structures on their first arrival.
    # Those structures nbt files can be placed in the folder defined at starterTemplatesPath below.
    # Possible values : "all", "random", or "none".
    # Default value: "random"
    S:starterMode=random

    # Each structure in this folder will be given to the player as standard reusable capsule on game start.
    # Empty the folder or the value to disable starter capsules.
    # Default value: "config/capsule/starters"
    S:starterTemplatesPath=config/capsule/starters
}


"loots:config/capsule/loot/common" {
    # Chances to get a capsule from this folder. Higher means more common. Default : 2 (rare), 6 (uncommon) or 10 (common)
    I:weight=10
}


"loots:config/capsule/loot/rare" {
    # Chances to get a capsule from this folder. Higher means more common. Default : 2 (rare), 6 (uncommon) or 10 (common)
    I:weight=2
}


"loots:config/capsule/loot/uncommon" {
    # Chances to get a capsule from this folder. Higher means more common. Default : 2 (rare), 6 (uncommon) or 10 (common)
    I:weight=6
}


